<!-- src/main/resources/templates/fragments/footer.html -->
<footer th:fragment="footer" class="py-4 bg-light">
    <div class="container">
        <div class="row align-items-center me-3">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <h3 class="mb-3">Contacto</h3>
                <p class="mb-1"><strong>Correo:</strong> cursociberseguridad@gmail.com</p>
                <p class="mb-1"><strong>TLF. Fijo:</strong> 948 12 34 45</p>
                <p class="mb-0"><strong>Whatsapp:</strong> 123 45 67 89</p>

                <div class="mt-4">
                    <h3>Horario</h3>
                    <img class="img-fluid" src="images/horario_empresa.png"/>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <h3 class="mb3">Ubicación</h3>
                <div class="ratio ratio-4x3 mb-2">
                    <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3013.8696193856017!2d-1.6344389239320687!3d42.82565000556005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd50931c7c00bafb%3A0x375d338b0fc6631b!2sCentro%20Integrado%20Mar%C3%ADa%20Ana%20Sanz!5e1!3m2!1ses!2ses!4v1761680499590!5m2!1ses!2ses"
                            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
                <p class="mb-0">Calle Milagro s/n, Pamplona, Navarra</p>
            </div>
        </div>
    </div>
</footer>
