<!-- src/main/resources/templates/fragments/header.html -->
<header th:fragment="header">
  <nav id="navCabecera" class="navbar border-bottom w-100">

    <div class="navbar-brand d-flex align-items-center gap-2 fs-5 ">
      <a href="/" class="nav-link d-flex align-items-center gap-2">
        <img src="/images/iconoPagina.png" alt="Inicio" width="70" height="70" class="d-inline-block align-top"> CiberCursos
      </a>
    </div>

    <div class="position-absolute start-50 translate-middle-x d-flex gap-4 fs-5 text-dark text-decoration-none">
      <a href="/" class="nav-link">INICIO</a>
      <a href="/cursos" class="nav-link">CURSOS</a>
    </div>

    <div style="width: 70px;"></div>
  </nav>
</header>
