footer {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Fredoka";
    color: #fff;
    background-color: #246b44; /* verde oscuro */
}

main {
    flex: 1;
}

#primera_horizontal_pie {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 300px;
    width: 100%;
    padding-bottom: 24px;
}

#primera_horizontal_pie h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#primera_horizontal_pie > div {
    width: 33.33%;
    box-sizing: border-box;
    text-align: center;
}

#primera_columna_pie img{
    object-fit: fill;
    width: auto;
    height: 250px;
    padding-top: 5%;
    margin-bottom: 0px;
}

#primera_columna_pie p{
    object-fit: fill;
    width: auto;
    padding-top: 0px;
    margin-top: 0px;
}

#segunda_columna_pie {
    height: 300px;
}

#segunda_columna_pie p{
    text-align: left;
    padding-left: 25%;
}

.map-box {
  width: 100%;
  max-width: 420px;
  height: 75px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
  margin: 0 auto;
}

#segunda_horizontal_pie {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 0;
    padding: 12px 0;
    font-size: 18px;
}

#div_copyright p{
    padding: 0px;
    margin-top: 85px;
    text-align: center;
    color: white;
}