/* CURSOS Y CERTIFICACIONES INDEX */
#cursos .image-col,
#certificaciones .image-col {
  flex: 0 0 40%;
  max-width: 40%;
}

#cursos .text-col,
#certificaciones .text-col {
  flex: 0 0 60%;
  max-width: 60%;
}

.image-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  #cursos,
  #certificaciones {
    flex-direction: column !important;
  }

  #cursos .image-col,
  #certificaciones .image-col,
  #cursos .text-col,
  #certificaciones .text-col {
    flex: 0 0 auto;
    max-width: 100%;
  }

  .image-col img {
    height: auto;
  }
}

/* CURSOS EN LA PAGINA CURSOS */
.curso-card {
  flex: 1 1 100%;
  height: 350px;
  min-width: 250px;
  border-radius: 1rem;
  transition: transform 0.2s ease;
}

.curso-card:hover {
  transform: translateY(-5px);
}

@media (min-width: 768px) {
  .curso-card {
    width: 100%;
    max-width: 450px;
  }
}

@media (max-width: 767.98px) {
  .curso-card {
    width: 100% !important;
    max-width: none !important;
    flex: 1 1 100% !important;
  }
}

/* FOOTER */
footer h3, #direccion {
  text-align: center;
  width: 100%;
}

.d-flex.flex-wrap {
    align-content: flex-start;
}

@media (min-width: 768px) {
  footer .row > .col-12.col-md-6 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

/* ANIMACIONES */
/* Desde abajo */
.animacion {
    opacity: 0;
    transform: translateY(32px); /* Puedes cambiar por translateX si quieres */
    transition: all 0.65s ease;
}

/* Cuando es visible */
.animacion.visible {
    opacity: 1;
    transform: translateX(0);
}
