#cursos, #certificaciones { gap: 1rem; }

@media (min-width: 768px) {
  #cursos .image-col,
  #certificaciones .image-col,
  #certificaciones .text-col,
  #cursos .text-col {
    flex: 0 0 48%;
    max-width: 48%;
  }
}

@media (max-width: 767.98px) {
  #cursos .image-col,
  #certificaciones .image-col,
  #certificaciones .text-col,
  #cursos .text-col {
    flex: 0 0 96%;
    max-width: 96%;
  }
}

#certificaciones .image-col img,
#cursos .image-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#cursos .text-col, #certificaciones .text-col { display: flex; flex-direction: column; justify-content: center; }
#cursos .text-col p, #certificaciones .text-col p {
    margin: 32px;
    text-justify: justify;
}

@media (min-width: 768px) {
  footer .row > .col-12.col-md-6 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

footer h3 {
  text-align: center;
  width: 100%;
}

.d-flex.flex-wrap {
    align-content: flex-start;
}

.curso-card {
  flex: 1 1 100%;
  height: 350px;
  min-width: 250px;
  border-radius: 1rem;
  transition: transform 0.2s ease;
}

.curso-card:hover {
  transform: translateY(-5px);
}

@media (min-width: 768px) {
  .curso-card {
    width: 100%;
    max-width: 450px;
  }
}

@media (max-width: 767.98px) {
  .curso-card {
    width: 100% !important;
    max-width: none !important;
    flex: 1 1 100% !important;
  }
}

/* ANIMACION */
/* Dsde abajo */
.animacion {
    opacity: 0;
    transform: translateY(32px); /* Puedes cambiar por translateX si quieres */
    transition: all 0.65s ease;
}

/* Cuando es visible */
.animacion.visible {
    opacity: 1;
    transform: translateX(0);
}
