#cursos, #certificaciones { gap: 1rem; }

@media (min-width: 768px) {
  #cursos .image-col,
  #certificaciones .image-col,
  #certificaciones .text-col,
  #cursos .text-col {
    flex: 0 0 48%;
    max-width: 48%;
  }
}

@media (max-width: 767.98px) {
  #cursos .image-col,
  #certificaciones .image-col,
  #certificaciones .text-col,
  #cursos .text-col {
    flex: 0 0 96%;
    max-width: 96%;
  }
}

/* Asegura que la img ocupe todo su contenedor y mantenga proporción */
#certificaciones .image-col img,
#cursos .image-col img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* si prefieres mantener relación y recortar */
  display: block;
}

/* Ajustes menores para texto */
#cursos .text-col, #certificaciones .text-col { display: flex; flex-direction: column; justify-content: center; }
#cursos .text-col p, #certificaciones .text-col p {
    margin: 32px;
    text-justify: justify;
}